body{
	margin: 0;
	padding: 0;

}
.entete{
}
.logo{
	float: left;
}
nav{
	float: right;
	margin-top: 50px;
	margin-left: 80px;
}
nav ul{

}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 25px;

}
nav ul li a{
	list-style: none;
	display: inline-block;
	margin-right: 25px;
	color: #404040;
	padding-bottom: 10px;
}
nav ul li a:hover{
	color: #F9429E;
	text-decoration: none; 
	border-bottom: solid 2px #F9429E;

}

.mon-carousel{
	background-image: url(images/carousel1.jpg);
	height: 70%;
	width: 100%;
}
.text-carousel{
	margin-top: 20%;
	margin-bottom: 10%;
	margin-left: 40px;
	color: white;

}
.bouton{

	border-radius: 25px;
}
.bouton a{
	color: white;
}
.bouton1{
	background-color: #F9429E;
}
.bouton2{
	position: relative;
	left: 2%;
}
.titre-section{

	text-align: center;
	margin-bottom: 20px;
	margin-top: 3%;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
.titre{

}
.titre:hover{
	border-bottom: solid 2px #F9429E;
}
.article{
	text-align: center;
	margin-bottom: 5px
	margin-right: 10px;
	padding: 10px;

}
.bordure-article{

	border: solid 1px silver;
	border-radius: 3px;
}



